<!DOCTYPE HTML>
    <html>
    <head>

    </head>
    <body>
    <ul>
        {% for post in posts %}
        <li><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a> </li>
        {% endfor %}
    </ul>
    </body>
    </html>