<ul>
    {% for comment in comments %}
    <li><a href="{{ comment.target }}">{{ comment.target.title }}</a> | {{ comment.nickname }} :
        {% autoescape off %}
        {{comment.content}}
        {% endautoescape %}
    </li>
    {% endfor %}
</ul>

