{% extends "./base.html" %}
{% load comment_block %}
{% block title %} {{post.title}} {% endblock %}
{% block extra_head%}
<link rel="https://cdn.bootcss.com/highlight.js/9.12.0/styles/googlecode.min.js">
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js">

</script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block main %}
{% if post %}
<h1> {{ post.title }}</h1>
<div>
    <span>分类:{{ post.category.name }}</span>
    <span>作者:{{ post.owner.username}}</span>
</div>
<br/>
{% autoescape off %}
<p>{{ post.content }}</p>
{% endautoescape %}
{% endif %}
{% comment_block request.path %}

{% endblock %}
